<div class="navbar-cocktail">
  <!-- Logo -->
  <a href="/" class="cocktail-logo">
    <img src="https://previews.123rf.com/images/dstarky/dstarky1701/dstarky170100422/69262793-cocktail-icon-or-logo-in-modern-line-style-high-quality-black-outline-pictogram-for-web-site-design-.jpg" alt="logo">
  </a>
  <h1 class="text-center">Cocktail à la Ben</h1>

  <div class="navbar-cocktail-item">

    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-cocktail-dropdown-menu">
        <li>
          <%= link_to 'Create a new cocktail', new_cocktail_path, class: "navbar-cocktail-item navbar-cocktail-link" %>
        </li>
        <li><a href="#">Browse</a></li>
        <li><a href="#">Favourite</a></li>
      </ul>
    </div>
  </div>
</div>

<div style="width:100%;height:0;padding-bottom:70%;position:relative;">
  <iframe src="https://giphy.com/embed/3o7TKDhgKC52OZhV0k" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen>
  </iframe>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <% if cocktail.photo.present? %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo, height: 1200, width: 1200, crop: :fill %>')">
          <div class="card-content">
            <div class="card-name">
              <%= link_to cocktail.name, cocktail %>
            </div>
          </div>
          <br>
        </div>
      </div>
      <% else %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://via.placeholder.com/300?text=Placeholder.com+rocks!')">
          <div class="card-content">
            <div class="card-name">
              <%= cocktail.name %>
            </div>
          </div>
          <br>
        </div>
      </div>
      <% end %>
    <% end %>

  </div>
</div>





