<div class="product-tiles-grid">

  <article class="product-tiles-grid-item product-tiles-grid-item-medium product-tiles-grid-item-small hover-link  border-right" data-paginated-url="/uk/en_gb/ca/men/mens-bags-c-men-bags">
    <a class="product-tiles-grid-item-link" href="/uk/en_gb/pr/men/mens-bags/mens-backpacks/gucci-print-leather-drawstring-backpack-p-4940530GCBT8163?position=1&amp;listName=M-bags-EU&amp;categoryPath=Men/Mens-Bags" data-style-id="4940530GCBT8163">
      <div class="product-tiles-grid-item-image-wrapper">
        <div class="product-tiles-grid-item-image">
          <img alt="Gucci Print leather drawstring backpack" sizes="(max-width: 767px) 158px, (max-width: 1023px) 235px, 470px" src="//media.gucci.com/style/DarkGray_South_0_160_316x316/1503939612/494053_0GCBT_8163_001_080_0000_Light-Gucci-Print-leather-drawstring-backpack.jpg" srcset="//media.gucci.com/style/DarkGray_South_0_160_316x316/1503939612/494053_0GCBT_8163_001_080_0000_Light-Gucci-Print-leather-drawstring-backpack.jpg 316w,//media.gucci.com/style/DarkGray_South_0_160_235x235/1503939612/494053_0GCBT_8163_001_080_0000_Light-Gucci-Print-leather-drawstring-backpack.jpg 235w,//media.gucci.com/style/DarkGray_South_0_160_470x470/1503939612/494053_0GCBT_8163_001_080_0000_Light-Gucci-Print-leather-drawstring-backpack.jpg 470w,//media.gucci.com/style/DarkGray_South_0_160_158x158/1503939612/494053_0GCBT_8163_001_080_0000_Light-Gucci-Print-leather-drawstring-backpack.jpg 158w,//media.gucci.com/style/DarkGray_South_0_160_540x540/1503939612/494053_0GCBT_8163_001_080_0000_Light-Gucci-Print-leather-drawstring-backpack.jpg 540w">
        </div><!-- .product-tiles-grid-item-image -->
      </div><!-- .product-tiles-grid-item-image-wrapper -->
      <div class="product-tiles-grid-item-detail" data-has-gallery-images="true">
        <div class="carousel product-tiles-grid-item-carousel" data-module="productCellImageCarousel" data-product-code="4940530GCBT8163" data-category-code="men-bags">
          <div class="carousel-inner">
            <div class="carousel-item">
              <div class="carousel-image-wrapper">

                <img alt="Gucci Print leather drawstring backpack" sizes="(max-width: 1400px) 316px, (min-width: 1400px) 632px" class="look-image" src="//media.gucci.com/style/White_South_0_20_316x395/1505483808/494053_0GCBT_8163_005_100_0000_Light.jpg" srcset="//media.gucci.com/style/White_South_0_20_316x395/1505483808/494053_0GCBT_8163_005_100_0000_Light.jpg 316w,//media.gucci.com/style/White_South_0_40_632x790/1505483808/494053_0GCBT_8163_005_100_0000_Light.jpg 632w">
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-image-wrapper">

                <img alt="Gucci Print leather drawstring backpack Detail 2" sizes="(max-width: 767px) 158px, (max-width: 1023px) 235px, 470px" data-lazy-load-src="//media.gucci.com/style/White_South_0_160_316x316/1503939613/494053_0GCBT_8163_002_080_0000_Light.jpg" data-lazy-load-srcset="//media.gucci.com/style/White_South_0_160_235x235/1503939613/494053_0GCBT_8163_002_080_0000_Light.jpg 235w,//media.gucci.com/style/White_South_0_160_540x540/1503939613/494053_0GCBT_8163_002_080_0000_Light.jpg 540w,//media.gucci.com/style/White_South_0_160_470x470/1503939613/494053_0GCBT_8163_002_080_0000_Light.jpg 470w,//media.gucci.com/style/White_South_0_160_158x158/1503939613/494053_0GCBT_8163_002_080_0000_Light.jpg 158w,//media.gucci.com/style/White_South_0_160_316x316/1503939613/494053_0GCBT_8163_002_080_0000_Light.jpg 316w">
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-image-wrapper">

                <img alt="Gucci Print leather drawstring backpack Detail 3" sizes="(max-width: 767px) 158px, (max-width: 1023px) 235px, 470px" data-lazy-load-src="//media.gucci.com/style/White_South_0_160_316x316/1503939613/494053_0GCBT_8163_003_080_0000_Light.jpg" data-lazy-load-srcset="//media.gucci.com/style/White_South_0_160_235x235/1503939613/494053_0GCBT_8163_003_080_0000_Light.jpg 235w,//media.gucci.com/style/White_South_0_160_540x540/1503939613/494053_0GCBT_8163_003_080_0000_Light.jpg 540w,//media.gucci.com/style/White_South_0_160_470x470/1503939613/494053_0GCBT_8163_003_080_0000_Light.jpg 470w,//media.gucci.com/style/White_South_0_160_316x316/1503939613/494053_0GCBT_8163_003_080_0000_Light.jpg 316w,//media.gucci.com/style/White_South_0_160_158x158/1503939613/494053_0GCBT_8163_003_080_0000_Light.jpg 158w">
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-image-wrapper">

                <img alt="Gucci Print leather drawstring backpack Detail 4" sizes="(max-width: 767px) 158px, (max-width: 1023px) 235px, 470px" data-lazy-load-src="//media.gucci.com/style/White_South_0_160_316x316/1503939613/494053_0GCBT_8163_004_080_0000_Light.jpg" data-lazy-load-srcset="//media.gucci.com/style/White_South_0_160_470x470/1503939613/494053_0GCBT_8163_004_080_0000_Light.jpg 470w,//media.gucci.com/style/White_South_0_160_235x235/1503939613/494053_0GCBT_8163_004_080_0000_Light.jpg 235w,//media.gucci.com/style/White_South_0_160_316x316/1503939613/494053_0GCBT_8163_004_080_0000_Light.jpg 316w,//media.gucci.com/style/White_South_0_160_540x540/1503939613/494053_0GCBT_8163_004_080_0000_Light.jpg 540w,//media.gucci.com/style/White_South_0_160_158x158/1503939613/494053_0GCBT_8163_004_080_0000_Light.jpg 158w">
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-image-wrapper">

                <img alt="Gucci Print leather drawstring backpack Detail 5" sizes="(max-width: 767px) 158px, (max-width: 1023px) 235px, 470px" data-lazy-load-src="//media.gucci.com/style/White_South_0_160_316x316/1503939612/494053_0GCBT_8163_001_080_0000_Light.jpg" data-lazy-load-srcset="//media.gucci.com/style/White_South_0_160_316x316/1503939612/494053_0GCBT_8163_001_080_0000_Light.jpg 316w,//media.gucci.com/style/White_South_0_160_470x470/1503939612/494053_0GCBT_8163_001_080_0000_Light.jpg 470w,//media.gucci.com/style/White_South_0_160_235x235/1503939612/494053_0GCBT_8163_001_080_0000_Light.jpg 235w,//media.gucci.com/style/White_South_0_160_158x158/1503939612/494053_0GCBT_8163_001_080_0000_Light.jpg 158w,//media.gucci.com/style/White_South_0_160_540x540/1503939612/494053_0GCBT_8163_001_080_0000_Light.jpg 540w">
              </div>
            </div>
          </div>
        </div>
        <div class="product-tiles-grid-item-info">
          <h2>Gucci Print leather drawstring backpack</h2>
          <p class="price">
            <span class="sale">£ 1,350</span>
            <span class="price-label">
            </span></p>
            <p class="eyebrow-link">
            Shop This</p>
          </div><!-- .product-tiles-grid-item-info -->
        </div><!-- .product-tiles-grid-item-detail -->
      </a>
      <a class="favorite" data-save-item="4940530GCBT8163" href="#">Favorite</a>
    </article><!-- .product-tiles-grid-item -->
    <article class="product-tiles-grid-item product-tiles-grid-item-medium product-tiles-grid-item-small hover-link  border-right" data-paginated-url="/uk/en_gb/ca/men/mens-bags-c-men-bags">
      <a class="product-tiles-grid-item-link" href="/uk/en_gb/pr/gifts/gifts-for-women/gucci-print-leather-drawstring-backpack-p-4940530GCBT8821?position=2&amp;listName=M-bags-EU&amp;categoryPath=Men/Mens-Bags" data-style-id="4940530GCBT8821">
        <div class="product-tiles-grid-item-image-wrapper">
          <div class="product-tiles-grid-item-image">
            <img alt="Gucci Print leather drawstring backpack" sizes="(max-width: 767px) 158px, (max-width: 1023px) 235px, 470px" src="//media.gucci.com/style/DarkGray_South_0_160_316x316/1503939603/494053_0GCBT_8821_001_080_0000_Light-Gucci-Print-leather-drawstring-backpack.jpg" srcset="//media.gucci.com/style/DarkGray_South_0_160_316x316/1503939603/494053_0GCBT_8821_001_080_0000_Light-Gucci-Print-leather-drawstring-backpack.jpg 316w,//media.gucci.com/style/DarkGray_South_0_160_235x235/1503939603/494053_0GCBT_8821_001_080_0000_Light-Gucci-Print-leather-drawstring-backpack.jpg 235w,//media.gucci.com/style/DarkGray_South_0_160_470x470/1503939603/494053_0GCBT_8821_001_080_0000_Light-Gucci-Print-leather-drawstring-backpack.jpg 470w,//media.gucci.com/style/DarkGray_South_0_160_158x158/1503939603/494053_0GCBT_8821_001_080_0000_Light-Gucci-Print-leather-drawstring-backpack.jpg 158w,//media.gucci.com/style/DarkGray_South_0_160_540x540/1503939603/494053_0GCBT_8821_001_080_0000_Light-Gucci-Print-leather-drawstring-backpack.jpg 540w">
          </div><!-- .product-tiles-grid-item-image -->
        </div><!-- .product-tiles-grid-item-image-wrapper -->
